.priceForm {
    background-color: var(--secondary-color);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.priceForm label{
    font-weight: 600;
}

.priceForm p {
    margin-top: 20px;
    font-size: 0.9rem;
}