.statsContainer {
    color: black;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    border-radius: 10px;
}

.statsContainer h2 {
    font-family: var(--font-body);
    font-weight: 600;
    font-size: 1rem;
}

.statsContainer select{
    padding: 5px 10px; 
    margin-left: 10px;
    font-family: var(--font-body);
    font-size: 0.9rem;
    font-weight: 500;
    border: 1px solid var(--bg-color);
    border-radius: 5px;
    background-color: #4b9fc05d;
}

.statsContainer option{
    font-weight: 400;
}

.stats {
    padding: 20px;
    border: 2px solid var(--bg-color);
    border-radius: 10px;
    width: 100%;
    height: 300px;
    position: relative;
}

.stats canvas{
    margin-bottom:20px ;
}

.statsDay, .statsHour {
    max-width: 900px;
}

.statsTicket canvas {
    display: block;
    margin: auto;
}

.stats:not(.statsTicket) canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
    margin: 0;
}

@media (min-width: 900px) {
    .statsContainer {
        grid-template-columns: 1fr 1fr;
    }

    .statsContainer form, .statsDay {
        grid-column: 1/3;
    }
}

@media (min-width: 1400px) {
    .statsContainer {
        grid-template-columns: 1fr 500px;
    }
}