<IfModule mod_rewrite.c>
    RewriteEngine On

    # 1. Empêche l'accès direct aux dossiers sensibles
    RewriteRule ^(app|config) - [F,L]

    # 2. Redirige tout vers le dossier api/index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ api/index.php [QSA,L]
</IfModule>