.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.modal {
    text-align: center;
    padding: 2rem;
    max-width: 400px;
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
}

.modal h2 {
    font-size: 3rem;
}

.buttonGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.modal button {
    background: transparent;
    color: white;
    padding: 10px 15px;
    border: solid 2px var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--font-body);
    font-size: 0.9rem;
    transition: transform 0.2s;
}

.buttonGroup button:hover {
    background-color: var(--primary-color);
}