.hero {
    position: relative;
    width: 100%;
    height: 175vh;
    overflow: hidden;
}

.heroHeader {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.1rem;
}

.heroHeader h1 {
    font-size: clamp(5rem, 2.8095rem + 10.1587vw, 15rem);
    text-transform: uppercase;
}

.mountainsContainer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.canvaTransition {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.heroContent {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 125svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-subheading);
    font-size: 1.2rem;
}

.heroContent p {
    max-width: 1024px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}

@media (min-width: 768px) {
    .heroHeader {
        font-size: 1.5rem;
    }
}

@media (min-width: 1280px) {
    .heroHeader p {
        position: relative;
        bottom: 5%;
    }

    .heroContent p {
        font-size: 1.5rem;
    }
}