.react-calendar {
  max-width: 400px;
  width: 100%;
  background: rgb(34, 31, 31);
  color: #fff;
  font-family: var(--font-body);
  border: solid 2px var(--primary-color);
  border-radius: 10px;
  margin: auto;
}

.react-calendar__navigation button{
  color: #fff;
}

.react-calendar__navigation button:hover, .react-calendar__navigation button:focus{
  background-color: rgb(48, 41, 41) !important;
}

.react-calendar__tile {
  padding: 15px;
  color: #fff;
}

.react-calendar__tile--active {
  background: var(--primary-color);
  font-weight: 600;
}

.react-calendar__tile:disabled, .react-calendar__navigation button:disabled {
  background-color: rgb(56, 51, 51);
  color: #e0e0e0;
}

.react-calendar__tile--now {
  background: #b4d5f5;
  color: black;
  font-weight: bold;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: var(--primary-color);
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}