.reservationContainer form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.bookDate {
  max-width: 450px;
  width: 100%;
  margin: auto;
}

.legend {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: fit-content;
  margin: 15px auto;
  padding: 10px;
  font-size: 0.85rem;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 6px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.selected {
  background-color: var(--primary-color);
}

.today {
  background-color: #b4d5f5;
}

.available {
  background-color: #f0f0f0;
}

.unavailable {
  background-color: #f0f0f0;
  opacity: 0.5;
}

.ticketSelection {
  max-width: 600px;
  width: 100%;
  margin: auto;
}

.reservationContainer form h2 {
  font-size: 2rem;
}

.infoBox {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  background-color: #f0f7ff;
  border-radius: 8px;
  border: 1px solid #d0e3ff;
  transition: all 0.3s ease;
  margin: 20px 0;
  width: fit-content;
}

.infoBox img {
  width: 25px;
}

.infoBox p {
  font-size: 0.9rem;
  color: #004a99;
}

.limitReached {
  background-color: #fff4e5;
  border-color: #ffd5a1;
}

.limitReached p {
  color: #663c00;
  font-weight: 600;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 20px;
}

.successCard {
  background: var(--secondary-color);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 3rem;
  border-radius: 20px;
  max-width: 500px;
  color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.successCard h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.successCard p {
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.btnLink {
  color: var(--primary-color);
  text-decoration: underline;
  font-weight: bold;
}

.successCard button {
  font-family: var(--font-body);
  font-size: 1rem;
  background: transparent;
  border: 2px solid var(--primary-color);
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 10px 20px ;
}

.successCard button:hover {
  background: var(--primary-color);
  color: white;
}

@media (min-width: 768px) {
  .bookDate {
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
  }

  .reservationContainer form h2 {
    font-size: 2.5rem;
  }

  .ticketSelection {
    max-width: 800px;
    width: 100%;
    margin: auto;
  }
}