.admin-main{
   background-color: antiquewhite;
   color: black;
   padding: 20px;
   min-height: 100vh;
}

.admin-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
    height: 90%;
}

@media (min-width: 1280px) {
    .admin-container {
        flex-direction: row;
    }

    .admin-container div{
        flex: 1 !important;
    }
}